@model DoAnHomeFinder.Models.NguoiDung

@{
    ViewBag.Title = "Index";
}

<h2>Đăng nhập</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="email" name="email" required>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mat_khau, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="password" name="mat_khau" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng nhập" class="btn btn-default" />
            </div>
        </div>
    </div>
}
